<html>
	<head>
		<meta charset="utf-8">
	
		<title>Error 404</title>
		<meta name="description" content="Error 404">
		<meta name="author" content="Chris">
	</head>
	
	<body>
		<div>
			Error 404 : page not found
		</div>
	</body>
</html>