body
{
	background-color: #AAAAAA;
	user-select: none;
}

#canvasimg
{
	position:absolute;
	top: 10%;
	left: 20%;
	width: 50%;
	height: 50%;
	display:none;
}

#can
{
	width:400px;
	height:400px;
	position:absolute;
	top: 10%;
	left: 20%;
	width: 50%;
	height: 70%;
	border-radius: 15px;
}

#color_wheel
{
	width:183px;
	height:101px;
	position:absolute;
	top:85%;
	left:50%;
}

#value_chooser
{
	position: absolute;
	top: 60%;
	left: 90%;
	transform: rotate(90deg);
}

#color_picker
{
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 1px solid #000;
	position:absolute;
	pointer-events:none;
}

.picker
{
	height: 8px;
	width: 20px;
	border-radius: 50vmin;
	background-color: #ffffff;
	border: 1px solid #000;
	position:absolute;
	pointer-events:none;
}

#players_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	padding: 5vh;
	background-color: #aaddbb;
}

#messages
{
	position: absolute;
	top: 0;
	left: 70%;
	width: 30%;
	height: 100%;
	padding: 5vh;
	background-color: #ddaabb;
}

#title
{
	position: absolute;
	top: 0;
	left: 20%;
	width: 50%;
	height: 10%;
	background-color: #aabbdd;
	text-align: center;
	vertical-align: middle;
}